# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/fllc/Debug
/ipch/FLLC-3480ce42
/fllc.VC.db
/fllc.VC.VC.opendb
/tests/Debug
/fllc.psess
/fllc160602.vsp
/ipch/TESTS-4bba6f86
/Debug/compare-ef
/.vs/fllc/v14
/fllc/x64/Debug
/ipch
/TestResults/82f3c4d8-ff8a-4293-bd6c-cbbc57fbb34c
/tests/x64/Debug
/x64/Debug
/Debug/fllc.pdb
*.pdb
