# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/fllc/Debug
/ipch/FLLC-3480ce42
/fllc.VC.db
/fllc.VC.VC.opendb
/tests/Debug
/fllc.psess
/fllc160602.vsp
/ipch/TESTS-4bba6f86
/Debug/compare-ef
